.Laptop {
  display: block;
}

.Navbar {
  position: fixed;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  cursor: default;
  z-index: 999;
}

.Navbar nav:nth-child(1) {
  background: var(--bg-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9em;
  padding: 0.6em;
}

/* SECTION DATE */
.Navbar nav:nth-child(1) section:nth-child(1) {
  display: flex;
  flex-direction: row;
  gap: 0.8em;
}

.Navbar nav:nth-child(1) section:nth-child(1) article:nth-child(1) {
  margin-top: 0.1em;
}

#iconCalendar {
  font-size: 1.8em;
}

.Navbar nav:nth-child(1) section:nth-child(1) article:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.Navbar nav:nth-child(1) section:nth-child(1) article:nth-child(2) span:nth-child(2) {
  font-weight: 600;
}

/* SECTION CONTENUE */
.Navbar nav:nth-child(1) section:nth-child(2) {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  margin-top: 0.8em;
}

.Navbar nav:nth-child(1) section:nth-child(2) article p {
  transition: 0.1s;
  color: #2b2b2b;
}

.Navbar nav:nth-child(1) section:nth-child(2) article p:hover {
  color: var(--color1);
  cursor: pointer;
  transition: 0.2s;
}

/* SECTION CONTENUE */
.Navbar nav:nth-child(1) section:nth-child(3) article {
  padding: 0.5em;
  padding-inline: 1.2em;
  background: var(--bg-color2);
  border: none;
  outline: none;
  border-radius: 0.5em;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.Navbar nav:nth-child(1) section:nth-child(3) article:hover {
  background: var(--bg-hover2);
}

.Navbar nav:nth-child(1) section:nth-child(3) article:active {
  outline: 2px solid var(--color1);
  /* color: var(--color1); */
}

.Navbar nav:nth-child(1) section:nth-child(3) article span i {
  font-size: 1.5em;
}

.Navbar nav:nth-child(1) section:nth-child(3) article span:nth-child(2) {
  margin-top: 0.4em;
}

/* NAVBAR2 */
.Navbar nav:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-color1);
  height: 11.6vh;
  padding: 0;
}

.Navbar nav:nth-child(2) section article p {
  color: #fff;
}

.Navbar nav:nth-child(2) section:nth-child(1) picture {
  display: flex;
  flex-direction: row;
}

.Navbar nav:nth-child(2) section:nth-child(1) picture img {
  width: 3.4em;
  height: auto;
  border: 2px solid #fff;
  border-radius: 4px;
  margin: 0.5em;
  object-fit: cover;
}

.Navbar nav:nth-child(2) section:nth-child(1) picture p {
  margin-top: 0.6em;
  margin-left: 3.2em;
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
  --webkit-stroke-color: #fff;
  cursor: pointer;
  transition: 0.2s;
  position: absolute;
}

.Navbar nav:nth-child(2) section:nth-child(1) picture p:hover {
  color: #0045a7;
}

.Navbar nav:nth-child(2) section:nth-child(2) {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  gap: 2.6em;
}

.Navbar nav:nth-child(2) section:nth-child(2) article p {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.Navbar nav:nth-child(2) section:nth-child(2) article p:hover {
  color: #0045a7;
}

.Navbar nav:nth-child(2) section:nth-child(3) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8em;
  margin-right: 1em;
}

.Navbar nav:nth-child(2) section:nth-child(3) article i {
  background: #181818;
  padding: 0.4em;
  padding-bottom: 0.4em;
  padding-inline: 0.6em;
  border-radius: 50%;
}

.Navbar nav:nth-child(2) section:nth-child(3) article i:hover {
  background: #2b2b2b;
  cursor: pointer;
}

.Navbar nav:nth-child(2) section:nth-child(3) article i:active {
  outline: 2px solid #fff;
}

.Navbar nav:nth-child(2) section:nth-child(3) article img {
  cursor: pointer;
}

/* CONNEXION */
.Contenu-Login {
  display: block;
  position: absolute;
  margin-top: 9.3em;
  left: 84.4%;
}

#Contenu-Login {
  margin-top: 19.3em;
  left: 83.8%;
}

.Contenu-Login section {
  background: #2b2b2b;
  padding: 0.5em;
  width: 100%;
  outline: 1px solid #2b2b2b;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.Contenu-Login section::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the top of the tooltip */
  left: 83.6%;
  margin-left: -5px;
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent #2b2b2b transparent;
}

.Contenu-Login section article {
  background: transparent;
  display: flex;
  flex-direction: row;
  gap: 1.1em;
  padding: 0.3em;
  padding-right: 2em;
  padding-left: 0.8em;
  cursor: pointer;
  color: #fff;
  border-radius: 1px;
  background: #404040;
}

.Contenu-Login section article:hover {
  background: #494949;
  display: flex;
  flex-direction: row;
}

.Contenu-Login section article:active {
  outline: 1px solid #fff;
}


.Contenu-Login section article span {
  margin-top: 0.5em;
}

.Contenu-Login section article span:nth-child(1) {
  margin: 0;
}

.Contenu-Login section article span #btn-Login {
  background: none;
  color: var(--color1);
  padding: 0;
}

.Hr-ligne {
  background: var(--bg-color1);
  width: 100%;
  height: 0.2em;
  position: fixed;
  margin-top: 8.7em;
  border: none;
  outline: none;
  opacity: 0.9;
  z-index: -20;
}

/* POP LOgIN */
/* ClosePOP */
.closePop {
  position: absolute;
  margin-top: -0.3em;
  margin-left: -3.6em;
  z-index: 999;
}

.closePop i {
  background: var(--bg-color1);
  color: #fff;
  border-radius: 50%;
  padding-inline: 0.2em;
  font-size: 1.7em;
  cursor: pointer;
}

.closePop i:hover {
  background: rgb(243, 105, 0);
  outline: 1px solid rgb(220, 220, 220);
}

.closePop i:active {
  outline: 2px solid var(--color2);
}

.Pop-Login {
  position: fixed;
  top: 0.8%;
  left: 16%;
  z-index: 999;
  background: #f5f5f5;
  padding: 0.7em;
  width: max-content;
  height: 98.5vh;
  border-radius: 7px;
  box-shadow: 0 0 3px rgb(126, 126, 126);
  overflow: hidden;
  animation: animate 0.5s normal forwards;
}

@keyframes animate {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}


.Pop-Login main {
  display: flex;
  flex-direction: row;
  gap: 0.8em;
}

/* TOGGLE VISIBILITY POP */
.LoginMain {
  display: none;
}

/* /////// */

.Pop-Login main section {
  background: rgb(255, 255, 255);
  padding: 0.5em;
  padding-inline: 4em;
  border-radius: 7px;
  height: 95vh;
  overflow: hidden;
  animation: animate 0.5s normal forwards;
}

.Pop-Login main section:nth-child(2) {
  text-align: center;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TITRE DESCRIPTION */
.TitleLog p:nth-child(1) {
  font-weight: 600;
  margin-top: 0.5em;
}

.TitleLog p:nth-child(2) {
  font-size: 0.9em;
  margin-top: -0.6em;
  margin-bottom: 0.4em;
}

/* POP FORM1 */
.Pop-Login main section:nth-child(2) form:nth-child(1) article:nth-child(3),
.Pop-Login main section:nth-child(2) form:nth-child(1) article:nth-child(4) {
  padding: 0.9em;
  width: 19em;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 2em;
  margin-top: 1em;
  font-size: 0.9em;
  outline: 1px solid rgb(158, 158, 158);
}

/* TRANSITION OR */
/* (OU) */
.transite-Or span:nth-child(1),
.transite-Or span:nth-child(3) {
  border: 1.5px solid rgb(158, 158, 158);
  border-radius: 35em;
  height: 0;
  width: 28%;
  margin-top: 0.7em;
}

/* POP FORM2 */
.Pop-Login main section:nth-child(2) form:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 1.2em;
}

.Pop-Login main section:nth-child(2) form:nth-child(2) article {
  padding: 0.5em;
  width: min-content;
  background: transparent;
  outline: 1px solid rgb(158, 158, 158);
  border-radius: 2em;
  display: flex;
  flex-direction: row;
}

.Pop-Login main section:nth-child(2) form:nth-child(2) article:last-of-type {
  background: var(--bg-color1);
}

.Pop-Login main section:nth-child(2) form:nth-child(2) article span i {
  font-size: 1.3em;
  color: var(--color1);
  margin-left: 0.2em;
}

.Pop-Login main section:nth-child(2) form:nth-child(2) article span input {
  padding: 0.5em;
  width: 19em;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 2em;
  margin-top: -0.2em;
  margin-left: 0.5em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 0.9em;
  border-left: 1px solid rgb(227, 227, 227);
}

.Pop-Login main section:nth-child(2) form:nth-child(2) article:last-of-type input {
  padding: 0.5em;
  width: 19em;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 2em;
  margin-top: -0.2em;
  font-size: 0.9em;
}

#icon-showMdp {
  position: absolute;
  margin-left: -1.3em;
}

#Logo {
  width: 4em;
  height: auto;
  border: 3px solid rgb(230, 230, 230);
  border-radius: 4px;
  margin: 0.5em;
  object-fit: cover;
}

.illu-Login {
  width: 25vw;
  height: auto;
}

/* MOBILE NAVBAR */
/* version mobile */
.Mobile {
  display: none;
}

.Navbar-Mobile {
  position: fixed;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  cursor: default;
  z-index: 999;
}

/* NNAVBAR1 */
.Navbar-Mobile nav:nth-child(1) {
  background: var(--bg-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9em;
  padding: 0.7em;
}

/* SECTION DATE */
.Navbar-Mobile nav:nth-child(1) section:nth-child(1) {
  display: flex;
  flex-direction: row;
  gap: 0.8em;
}

.Navbar-Mobile nav:nth-child(1) section:nth-child(1) article:nth-child(1) {
  margin-top: 0.1em;
}

#iconCalendar {
  font-size: 1.8em;
}

.Navbar-Mobile nav:nth-child(1) section:nth-child(1) article:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.Navbar-Mobile nav:nth-child(1) section:nth-child(1) article:nth-child(2) span:nth-child(2) {
  font-weight: 600;
}

/* NAV BUTTON */
.Navbar-Mobile nav:nth-child(1) section:nth-child(2) article {
  padding: 0.8em;
  padding-inline: 1.2em;
  background: var(--bg-color2);
  border: none;
  outline: none;
  border-radius: 0.5em;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

.Navbar-Mobile nav:nth-child(1) section:nth-child(2) article:hover {
  background: var(--bg-hover2);
}

.Navbar-Mobile nav:nth-child(1) section:nth-child(2) article:active {
  outline: 2px solid var(--color1);
  /* color: var(--color1); */
}

/* BACKGROUND-ORANGE */
/* NAVBAR2*/
.Navbar-Mobile nav:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--bg-color1);
  height: 15.6vh;
  padding: 0.2em;
}

/* SECTION1 NAV */
.Navbar-Mobile nav:nth-child(2) section:nth-child(1) picture {
  display: flex;
  flex-direction: row;
}

.Navbar-Mobile nav:nth-child(2) section:nth-child(1) picture img {
  width: 3em;
  height: auto;
  border: 2px solid #fff;
  border-radius: 4px;
  margin: 0.5em;
  object-fit: cover;
}

.Navbar-Mobile nav:nth-child(2) section:nth-child(1) picture p {
  margin-top: 0.9em;
  font-size: 1.2em;
  font-weight: 600;
  color: #fff;
  --webkit-stroke-color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.Navbar-Mobile nav:nth-child(2) section:nth-child(1) picture p:hover {
  color: #0045a7;
}

/* SECTION3 NAV */
.Navbar-Mobile nav:nth-child(2) section:nth-child(2) {
  display: flex;
  flex-direction: row;
  gap: 0.8em;
  margin-top: 0.9em;
  margin-right: 0.2em;
}

.Navbar-Mobile nav:nth-child(2) section:nth-child(2) article i {
  background: #181818;
  padding: 0.2em;
  padding-bottom: 0.4em;
  padding-inline: 0.5em;
  border-radius: 50%;
}

.Navbar-Mobile nav:nth-child(2) section:nth-child(2) article i:hover {
  background: #2b2b2b;
  cursor: pointer;
}

.Navbar-Mobile nav:nth-child(2) section:nth-child(2) article i:active {
  outline: 2px solid #fff;
}

#list {
  margin-top: -0.2em;
  padding-bottom: 0.3em;
}

#close {
  margin-top: -0.2em;
  margin-right: 0.7em;
  margin-left: -0.7em;
  padding-bottom: 0.3em;
}

/* CONTENUE */
.Contenu_Mobile {
  background: var(--bg-white);
  animation: anime 0.3s normal forwards;
  width: 52.5%;
  border-radius: 0.1em;
  outline: 1px solid silver;
}

@keyframes anime {
  0% {
    left: 86%;
  }

  100% {
    left: 45%;
  }
}

.Contenu_Mobile section {
  display: flex;
  flex-direction: column;
}

.Contenu_Mobile section article {
  cursor: pointer;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  gap: 1em;
  font-weight: 500;
  padding: 0.3em;
  padding-left: 1em;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.Contenu_Mobile section article:hover {
  background: var(--bg-color2);
  color: #fff;
}

.Contenu_Mobile section article span {
  margin-top: 0.6em;
}

.Contenu_Mobile section article span #icon-Mobile {
  background: none;
  fill: var(--color1);
  outline: 2px solid var(--color1);
  padding: 0.2em;
  border-radius: 50%;
}

.Contenu_Mobile section article:hover #icon-Mobile {
  fill: #fff;
  outline: 2px solid #fff;
}

.Hr-ligne2 {
  background: var(--bg-color1);
  width: 100%;
  height: 0.2em;
  position: fixed;
  margin-top: 8.6em;
  border: none;
  outline: none;
  opacity: 0.9;
  z-index: -20;
}


/* MAIN BODY DU SITE */
/* ALL BODY */

.ALaUne {
  padding-top: 10em;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
}

/* ALAUNE FIGURE */
#FigureLaUne {
  background: rgb(65, 65, 80);
  color: #fff;
  width: min-content;
  display: flex;
  flex-direction: row;
  gap: 2em;
  padding: 1.2em;
  border-radius: 4px;
  cursor: default;
}

#FigureLaUne picture img {
  width: 30vw;
  height: auto;
  outline: 2px solid #bababa;
}

#FigureLaUne figcaption {
  width: 25vw;
}

#FigureLaUne figcaption span {
  background: red;
  color: #fff;
  width: max-content;
  border-radius: 5px;
  padding: 0.2em;
  padding-inline: 0.8em;
  font-size: 0.9em;
}

#FigureLaUne figcaption p:nth-child(3) {
  font-size: 0.9em;
}

#FigureLaUne figcaption p:nth-child(4) {
  font-size: 0.8em;
  float: left;
  text-transform: capitalize;
  margin-top: 0.8em;
}

/* // */

.ArticlePhoto {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
}

.titleActu {
  color: var(--color4);
}

.ArticlePhoto section {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-bottom: 2em;
  cursor: pointer;
  transition: 0.1s;
}

.ArticlePhoto section:hover {
  filter: brightness(96%);
}

.ArticlePhoto section {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding: 1.5em;
  width: 100% !important;
  height: 35vh;
  overflow: visible;
}

.ArticlePhoto section article:nth-child(1) picture img {
  width: 12em !important;
  height: 9em !important;
  border-radius: 8px;
  object-fit: cover;
  outline: 4px solid #fff;
}

.ArticlePhoto section article:nth-child(2) {
  display: flex;
  flex-direction: column !important;
  gap: 0.4em;
  margin-top: 0.3em;
}

/* TYPE */
.ArticlePhoto section article:nth-child(2) span:nth-child(1) {
  color: #fff;
  width: max-content;
  border-radius: 5px;
  padding: 0.2em;
  padding-inline: 0.8em;
  font-size: 0.9em;
}

/* TITLE */
.ArticlePhoto section article:nth-child(2) span:nth-child(2) {
  font-weight: 600;
  font-size: 1.7em;
  width: 95% !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  font-family: "nunito-sans", sans-serif;
}

/* DESC */
.ArticlePhoto section article:nth-child(2) span:nth-child(3) {
  font-size: 1em;
  width: 25em !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  word-break: initial !important;
  white-space: nowrap !important;
}

/* VOIRPLUS */
/* .ArticlePhoto section article:nth-child(2) span:nth-child(4) {
  display: flex;
  flex-direction: row;
  background: #dbdbdb;
  width: max-content;
  border-radius: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.2em;
  font-size: 0.9em;
}

.ArticlePhoto section article:nth-child(2) span:nth-child(4) i {
  margin-left: -0.4em;
  font-size: 0.9em;
  font-weight: bold;
} */

/* PUBLISHDATE */
.ArticlePhoto section article:nth-child(2) span:nth-child(4) {
  margin-top: 1em !important;
  margin-left: 0 !important;
  font-size: 0.9em !important;
}

/* VIDEO */
/* ARTICLE VIDEO ALL */
.ArticleVideo {
  display: flex;
  flex-direction: column;
  padding-right: 2.8em;
}

.titleVideo {
  color: var(--color4);
}

.iconPlay {
  margin-top: 0.5em;
  margin-left: -8.2em;
  background: transparent;
  outline: 2px solid #fff;
  padding-inline: 0.5em;
  border-radius: 1em;
  opacity: 0.9;
  font-size: 1em;
}

.iconPlay i {
  color: #fff;
  font-style: normal;
}

.ArticleVideo section {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-bottom: 2em;
  cursor: pointer;
}

.ArticleVideo section:hover {
  filter: brightness(96%);
}

.ArticleVideo section {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding: 1.5em;
  width: 23em;
  height: auto;
  border-radius: 4px;
}

.ArticleVideo section article:nth-child(1) picture video[poster] {
  width: 10em;
  height: 6em !important;
  border-radius: 8px;
  object-fit: cover;
  outline: 4px solid #fff;
}

.ArticleVideo section article:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  margin-top: -0.2em;
  overflow: hidden;
}

/* TYPE */
.ArticleVideo section article:nth-child(2) span:nth-child(1) {
  background: red;
  color: #fff;
  width: max-content;
  border-radius: 5px;
  padding: 0.2em;
  padding-inline: 0.8em;
  font-size: 0.9em;
}

/* TITLE */
.ArticleVideo section article:nth-child(2) span:nth-child(2) {
  font-weight: bold;
  font-size: 1.5em;
  width: 93%;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* DESC */
.ArticleVideo section article:nth-child(2) span:nth-child(3) {
  font-size: 0.9em;
  width: 90%;
  text-overflow: ellipsis !important;
  overflow: hidden;
  background: red;
}

/* PUBLISHDATE */
.ArticleVideo section article:nth-child(2) span:nth-child(4) {
  font-size: 0.9em;
}


/* SEARCH BODY */
/* ALL ARTICLE SEARCH */
.Search {
  padding-top: 9.7em;
  padding-left: 5em;
  display: flex;
  flex-direction: column;
}

.Search header p {
  font-size: 1.7em;
  color: #3b3a3a;
  font-weight: 600;
  text-transform: capitalize;
}

.Search header article {
  border: none;
  background: rgb(244, 244, 244);
  border-radius: 1em;
  outline: 1px solid rgb(215, 215, 215);
  display: flex;
  flex-direction: row;
  width: min-content;
  padding: 0.2em;
  margin-top: 1em;
}

.Search header article span input {
  border: none;
  background: rgb(244, 244, 244);
  padding: 0.7em;
  padding-left: 1.5em;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  border-right: 1px solid rgb(215, 215, 215);
  width: 30em;
}

.Search header article span i {
  font-size: 1.2em;
  padding: 0.9em;
}

.Search section {
  background: #f6f6f6;
  outline: 1px solid #eaeaea;
  padding: 1.5em;
  width: 87.5%;
  height: 42vh;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 1em;
  overflow: hidden;
  margin-top: 2em;
  cursor: pointer;
}

.Search section article:nth-child(1) picture img {
  width: 15vw;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  outline: 4px solid #fff;
}

.Search section article:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  margin-top: 0.3em;
}

/* TYPE */
.Search section article:nth-child(2) span:nth-child(1) {
  color: #fff;
  width: max-content;
  border-radius: 5px;
  padding: 0.2em;
  padding-inline: 0.8em;
  font-size: 0.9em;
}

/* TITLE */
.Search section article:nth-child(2) span:nth-child(2) {
  font-weight: bold;
  font-size: 1.7em;
  width: 95%;
  height: min-content;
  word-break: break-all;
}

/* DESC */
.Search section article:nth-child(2) span:nth-child(3) {
  font-size: 1em;
  width: 93%;
  height: max-content;
  overflow: hidden;
  word-break: keep-all;
}

/* VOIRPLUS */
.Search section article:nth-child(2) span:nth-child(4) {
  display: flex;
  flex-direction: row;
  background: #dbdbdb;
  width: max-content;
  border-radius: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.2em;
  font-size: 0.9em;
}

.Search section article:nth-child(2) span:nth-child(4) i {
  margin-left: -0.4em;
  font-size: 0.9em;
  font-weight: bold;
}

/* PUBLISHDATE */
.Search section article:nth-child(2) span:nth-child(5) {
  margin-top: 1em;
  margin-left: 20em;
  font-size: 0.9em;
}


/* APROPOS DU SITE ET DU COSEF */
/* ABOUT */
.Apropos {
  padding-top: 6em;
}

.Apropos div header {}

.Apropos div header picture {
  padding: 1em;
}

.Apropos div header picture img {
  width: 98%;
  height: auto;
  object-fit: cover;
  filter: brightness(60%);
  border-radius: 10px;
}

.Apropos div header picture article {
  position: absolute;
  top: 22.7%;
  left: 14.8%;
  text-align: center;
  width: 70%;
}

.Apropos div header picture article p {
  color: #fff;
}

.Apropos div header picture article p:nth-child(1) {
  font-size: 1.4em;
}

.Apropos div header picture article p:nth-child(2) {
  font-size: 1.9em;
  font-weight: bold;
}

.Apropos div header picture article button {
  padding: 0.8em;
  padding-inline: 2em;
  color: #fff;
  background: none;
  outline: 2px solid #fff;
  border: none;
  border-radius: 3em;
  margin-top: 1.3em;
}

.Apropos div header picture article button:hover {
  color: silver;
  outline: 2px solid var(--color1);
}

.Apropos div header picture article button:focus {
  outline: 2px solid var(--color1);
}

.Apropos div header picture article button:active {
  transform: scale(0.9);
  outline: 2px solid var(--color1);
}

/* ABOUT MAIN */
.Apropos div main {
  display: flex;
  flex-direction: row;
  gap: 3em;
  width: 90%;
  flex-wrap: wrap;
  padding-top: 1.5em;
  padding-left: 10em;
  margin-bottom: 3em;
}

.Apropos div main section {
  width: 35vw;
  padding: 1em;
  border-radius: 8px;
  cursor: default;
  background: rgb(247, 247, 247);
}

.Apropos div main section:hover {
  background: rgb(236, 236, 236);
}

.Apropos div main section:hover p:nth-child(1) {
  color: orangered;
}

/* MOT DU QUESTEUR BODY MAIN*/
/* Main questort */
.MotDuQuesteur {
  padding-top: 6em;
  text-align: center;
}

.MotDuQuesteur div main {}

.MotDuQuesteur div main img {
  width: 45%;
  height: auto;
  object-fit: cover;
}

/* BIOGRAPHIE BODY MAIN*/
/* Main minibio */
.MiniBiographie {
  padding-top: 6em;
  text-align: center;
}

.MiniBiographie div main {}

.MiniBiographie div main img {
  width: 45%;
  height: auto;
  object-fit: cover;
}


/* BODY ARTICLE*/
/* Main publication */
.ClickArticle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10em;
  margin: 0 !important;
  width: 95% !important;
  margin-left: 2em !important;
  padding-left: 2em;
}

.ClickArticle div:nth-child(1) {
  width: 56.5% !important;
  height: max-content !important;
  border-radius: 4px;
  background: #fff;
  margin: 0 !important;
  padding-left: 0 !important;
  padding-inline: 2em !important;
  box-shadow: 0.5px 0.5px 1.5px 1px rgb(213, 213, 213);
}

.titleClick {
  color: var(--color4);
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 0.8em;
}

/* HEADER */
/* CLICK ARTICLE */
#typeStyle {
  background: var(--bg-color1);
  color: #fff;
  width: max-content;
  border-radius: 5px;
  padding: 0.2em;
  padding-inline: 0.4em;
  font-size: 0.9em;
}

#titleStyle {
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  word-break: keep-all;
  font-family: "nunito-sans", sans-serif;
  font-weight: 600;
  width: 14.9em !important;
}

/* MAIN _ IMAGE */
.ClickArticle div section article picture img {
  padding: 0.2em;
  background: #fff;
  border-radius: 6px;
  width: 40em !important;
  height: 25em !important;
  object-fit: cover;
}

#publishDate {
  font-size: 0.9em;
  background: rgb(230, 230, 230);
  width: max-content;
  padding-inline: 0.5em !important;
  padding-inline-end: 1em !important;
  border-radius: 2em;
  padding: 0.3em;
}

/* FOOT DESC */
.ClickArticle div:nth-child(1) section:nth-child(3) article {
  width: 99% !important;
  word-break: keep-all;
}

/* FOOTER BODY */
/* FOOTER */
/* PUBLICITE */
.zonePublicite {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  gap: 0;
}

.Publicite {
  background: orangered;
  color: #fff;
  overflow: hidden;
  padding: 0;
  padding-inline: 2em;
}

.Publicite div {
  display: flex;
  flex-direction: row;
  margin-top: 0.4em;
  padding: 0;
}

.Publicite div p {
  margin-top: 1.1em;
}

/* FOOTER */
footer {
  margin-top: -1em;
  width: 100%;
  margin-bottom: -60em;
  background: var(--bg-footer-secondary);
  padding: 0.5em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 1em;
}

footer div section {
  display: flex;
  flex-direction: column;
}

footer div section p:nth-child(1) {
  text-transform: capitalize;
  font-size: 1.2em;
}

footer div section p:nth-child(2),
footer div section p:nth-child(3),
footer div section p:nth-child(4) {
  text-transform: capitalize;
  cursor: pointer;
}

footer div section p:is(:nth-child(2):hover, :nth-child(3):hover, :nth-child(4):hover) {
  color: var(--color1);
}

footer div section:nth-child(5) article {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

footer div section:nth-child(5) article i {
  cursor: pointer;
  color: rgb(103, 103, 103);
}

footer div section:nth-child(5) article i:hover {
  color: var(--color1);
}

footer div:nth-child(2) {
  border-top: 1px solid silver;
  padding-top: 1.2em;
  text-transform: capitalize;
  font-size: 0.9em;
}

footer div:nth-child(2) article {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

footer div:nth-child(2) article p {
  cursor: default;
}

footer div:nth-child(2) article:nth-child(2) p:hover {
  color: var(--color1);
  cursor: pointer;
}

/* NAV CONNECTED PROFILE */
.profileNav {
  width: 2.7em;
  height: 2.7em;
  object-fit: cover;
  outline: 2px solid #fff;
  border-radius: 50%;
  background: #fff;
}

/* CONNECTED PROFILE */
.profileLogs-image i {
  position: absolute;
  margin-left: -0.6em;
  margin-top: -0.2em;
  cursor: pointer;
}

.profileLogs-image img {
  object-fit: cover;
  width: 12vw;
  height: 25vh;
  background: #fff;
  border-radius: 50%;
  outline: 3px solid #cfcfcf;
  overflow: hidden;
  text-align: center;
}

/* ADMIN DASHBOARD */
.AsideAdmin {
  outline: 1px solid silver;
}

.AsideAdmin section article span {
  cursor: pointer;
}

.AsideAdmin section article span:hover {
  background: silver;
}

/* ADMIN */
@keyframes equalizerAnimation {
  0% {
    height: 0;
  }

  50% {
    height: 100%;
  }

  100% {
    height: 0;
  }
}

.equalizer-path {
  animation: equalizerAnimation 1s linear infinite;
  transform-origin: center bottom;
}

/* NAV ADMIN */
.NavAdmin {
  outline: 1px solid silver;
}

/* Adjust height and width as needed */
.equalizer-svg {
  height: 90px;
  width: 90px;
}

.NavList header {
  padding: 1em;
}

.NavList header section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-inline: 0.5em;
}

.NavList header section article {
  background: transparent;
  padding: 0.5em;
  padding-inline: 1.5em !important;
  border-radius: 0.3em;
  cursor: pointer;
  outline: 1px solid silver;
  transition: 0.2s;
}

.NavList header section article:hover {
  background: var(--bg-light);
}

.navList-active {
  outline: none;
  color: #fff !important;
  background: var(--bg-color2) !important;
  border-radius: 0.3em;
}

/* Detail Number Article */
.NumberCircle {
  width: max-content;
  padding: 1.5em !important;
  padding-inline: 1.2em !important;
  display: flex;
  flex-direction: row;
  gap: 0.3em;
  align-items: center;
  margin-left: 7em;
  border-radius: 50%;
  outline: 1px solid silver;
}