*, ::after, ::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --bg-color1: linear-gradient(550deg, #ff6e13, #ff6200);
    --bg-color2: linear-gradient(to top, rgb(23, 37, 157), #13138a);
    --bg-hover2:rgb(0, 0, 124);
  --color1: rgb(255, 99, 43);
  --color2: #001dd9;
  --color4: #3a3a3a;
  --color3: #000;
  --bg-white: #fff;
  --bg-body: #d4d2d2;
}
a{
  text-decoration: none;
  color: #fff;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-active{
  position: relative;
  color: red;
}

.nav-active::after{
  content: "";
  height: 2.5px;
  width: 85%;
  background: var(--bg-color2);
  border: none;
  position: absolute;
  border-radius: 10em;
  bottom: 30%;
  z-index: 999;
  padding: 0.1em;
  margin-bottom: -0.9em;
  margin-left: 0.4em;
}
/* NAV ACTIVE MARGIN */
.nav-active1{
  position: relative;
  color: var(--color2);
}

.nav-active1::after{
  content: "";
  height: 2.5px;
  width: 85%;
  background: var(--bg-color2);
  border: none;
  position: absolute;
  border-radius: 10em;
  bottom: 30%;
  z-index: 999;
  padding: 0.1em;
  margin-bottom: -0.9em;
  margin-left: 0.2em;
}

/* SEARCH */
.navSearch-active i{
  outline: 2px solid rgb(231, 231, 231);
}

/* TYPE STYLE COLOR */
.politique:hover span:nth-child(2){
  color: orangered;
  /* Couleur rouge pour les articles de type "Politique" */
}
.politique #type{
  background: orangered;
  color: #fff;
  width: max-content;
  border-radius: 5px;
  padding: 0.2em;
  padding-inline: 0.4em;
  font-size: 0.9em;
}

/* TYPE STYLE COLOR */
.social:hover span:nth-child(2){
  color: green;
  /* Couleur rouge pour les articles de type "Politique" */
}
.social #type{
  background: green;
  color: #fff;
  width: max-content;
  border-radius: 5px;
  padding: 0.2em;
  padding-inline: 0.4em;
  font-size: 0.9em;
}

/* TYPE STYLE COLOR */
.sport:hover span:nth-child(2){
  color: blue;
  /* Couleur rouge pour les articles de type "Politique" */
}
.sport #type{
  background: blue;
  color: #fff;
  width: max-content;
  border-radius: 5px;
  padding: 0.2em;
  padding-inline: 0.4em;
  font-size: 0.9em;
}

/* TYPE STYLE COLOR */
.culturel:hover span:nth-child(2){
  color: violet;
  /* Couleur rouge pour les articles de type "Politique" */
}
.culturel #type{
  background: violet;
  color: #fff;
  width: max-content;
  border-radius: 5px;
  padding: 0.2em;
  padding-inline: 0.4em;
  font-size: 0.9em;
}